:root {
	--text: #292D30;
	--text-40: rgba(41, 45, 48, 0.4);
	--text-70: rgba(41, 45, 48, 0.7);
	--accent: #3DC9B9;
	--accent-2: #ffcc01;
	--accent-3: #715EAF;
	--light-gray: #fafafa;
	--gray: #edefef;
}